@using CloStyle.Application.CloStyle.ViewModels.ProductVM
@model ProductsByBrandViewModel

@{
    ViewData["Title"] = "Produkty marki";
    var products = Model.Products;
    var isInRole = User.IsInRole("Owner") || User.IsInRole("Admin");
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="display-5 mb-0">
            Products: <b>@Model.BrandName</b>
        </h1>
        <div class="d-flex gap-2">
            <a asp-controller="Brand" asp-action="Index" class="btn btn-outline-secondary d-flex align-items-center">
                <span>⬅️</span> Back to Brands
            </a>
            <a asp-controller="Product" asp-action="Add" asp-route-id="@Model.BrandId" class="btn btn-success d-flex align-items-center">
                <i class="bi bi-plus-circle me-2"></i> Add New Product
            </a>         
        </div>
    </div>

    @if (!products.Any())
    {
        <div class="alert alert-warning text-center" role="alert">
            Brand currently has no products.
        </div>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-bordered align-middle text-center shadow-sm">
                <thead class="table-dark">
                    <tr>
                        <th>@Html.DisplayNameFor(_ => products.First().Name)</th>
                        <th>@Html.DisplayNameFor(_ => products.First().Price)</th>
                        <th>@Html.DisplayNameFor(_ => products.First().Description)</th>
                        <th>Sizes</th>
                        <th></th>
                        @if (Model.IsEditable && isInRole)
                        {
                            <th>Actions</th>
                        }                     
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in products)
                    {
                        <tr>
                            <td class="align-middle"> @product.Name</td>
                            <td class="align-middle">@product.Price.ToString("C")</td>
                            <td class="align-middle">@product.Description</td>
                            <td class="align-middle">
                                @if (product.Sizes != null && product.Sizes.Any(c => c.Stock > 0))
                                {
                                    <div class="mb-0">
                                        @foreach (var size in product.Sizes.Where(c => c.Stock > 0))
                                        {
                                            <span class="list-group-item px-2 py-1 d-flex justify-content-between">
                                                <span><strong>@size.Size</strong></span>
                                                <span>Quantity: <strong>@size.Stock</strong></span>
                                            </span>
                                        }
                                    </div>
                                    
                                }
                                else
                                {
                                    <span class="text-muted">No data</span>
                                }
                            </td>
                            <td class="align-middle">
                                <a asp-controller="Product"
                                    asp-action="ProductDetails"
                                    asp-route-id="@product.Id"
                                    class="btn btn-outline-primary btn-sm">
                                    👁 Details
                                </a>
                            </td>
                            @{
                                if (Model.IsEditable && isInRole)
                                {
                                    <td>
                                        <a asp-controller="Product"
                                           asp-action="Delete"
                                           asp-route-id="@product.Id"
                                           class="btn btn-outline-danger btn-sm">
                                            🗑 Delete
                                        </a>
                                        <a asp-controller="Product"
                                           asp-action="Edit"
                                           asp-route-id="@product.Id"
                                           class="btn btn-outline-info btn-sm">
                                            🔧 Edit
                                        </a>
                                    </td>
                                }
                            }  
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    }
</div>
