@model CloStyle.Application.CloStyle.ViewModels.AdminPanelVM.IndexUsersVM
@using CloStyle.Application.CloStyle.ViewModels.AdminPanelVM;
@{
    ViewData["Title"] = "Users List";
}

<div class="text-center mb-5 mt-4">
    <h1>@ViewData["Title"]</h1>
</div>

<table class="table table-bordered table-striped text-center align-middle">
    <thead class="table-light fs-5">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Amount of Brands</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td><strong>@user.Name</strong></td>
                <td>@user.Email</td>
                <td>@user.BrandsCount</td>
                <td>
                    @if (user.Role != null)
                    {
                        <span>@user.Role.Name</span>
                    }
                    else
                    {
                        <em>No roles</em>
                    }
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#userBrandsModal_@user.UserId">
                                    👁 Show Brands
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#changeUserPermissionsModal_@user.UserId">
                                    🔧 Change Permissions
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteUserModal_@user.UserId">
                                    🗑 Delete
                                </button>
                            </li>
                        </ul>
                        <partial name="_ShowUserBrands" model="new ShowUserBrandsVM(){UserId = user.UserId, UserName = user.Name, Brands = user.Brands}" />
                        <partial name="_ChangeUserPermissions" model="new ShowUserRolesVM(){UserId = user.UserId, Name = user.Name, UserRole = user.Role, AllAvailableRoles = Model.AllRoles}"/>
                        <partial name="_DeleteUser" model="new DeleteUserVM(){UserId = user.UserId, UserName = user.Name}"/>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>